Задачи по Pandas

V 0.8 14.09.2020

Датасеты:
* sp_data2.csv 
* sp500hst.txt 
* kings.csv 
* titanic.csv 
* e-commerce/*
* avocado_v1
* us-state-population
* us-state-shortcode

In [2]:
import pandas as pd
import numpy as np

---

## 1. Введение

### Датасеты:
* sp_data2.csv
* sp500hst.txt

1.1 Задание: загрузить данные из файлов (приложены к письму):
* excel-comp-data.xlsx
* sp500hst.txt

1.2 Загрузить данные из файла sp500hst.txt, обозначить столбцы (в соответствии с содержимым).
    * "date", "ticker", "open", "high", "low", "close", "volume"

1.3

1.3.1 Создать столбец со значеними средними, между значением дневного минимума и максимума.

1.3.2 Рассчитать среднее значение показателей для каждого из столбцов 3-6.

1.4

1.4.1 Создать DataFrame состоящий из строк относящихся только к 13 августа 2010 года.

1.4.1.1 Из DataFrame, созданного в 1.4.1, cоздать серию из 30 первых имен

1.4.2 Из DataFrame, созданного в 1.4.1, создать новый DataFrame, индексом в котором являются имена тикеров.

1.4.3 Создать DataFrame состоящий из строк относящихся только тикеру ALTR.

1.5

1.5.1 Создать DataFrame состоящий из строк относящихся только тикеру WAT и объединить его с DataFrame для ALTR.

1.5.2 Создать DataFrame в котором присутствует столбец, отражающий разницу в объемах торгов по WAT и ALTR в одинаковые дни и содержит исходные данны об объеме трогов этими акциями.

1.6 Выяввиь столбцы содержащие минимальные и максимальные значения (если такие столбцы есть). (Проверить, есть ли среди столбцов, столбец с минимальным значением курса акций.)

1.7 По данным из 'sp500hst.txt' при помощи Pandas расчитать максимальные значения в 3-6 столбца для дат после 20100801

1.8 По данным из 'sp500hst.txt' при помощи Pandas расчитать средний объем торгов (обеъм торгов - в последнем столбце) при значениях 3го столбца больше 50.

## 2.Даты

* Группа функций pandas.Series.dt.<Имя функции>
* Например, см.: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.day.html

### Датасеты:
* sp_data2.csv
* sp500hst.txt

2.1 Из DataFrame, созданного в 1.4.3, создать DataFrame индексом в котором являются даты.

2.2 В DataFrame, созданном в 1.4.3, добавить столбец, содержащий только число месяца, к которому относится дата.

2.3 Из DataFrame выбрать только строки, относящиеся к 13 числу месяца.

2.4 Для тикера AAPL подсчитать, сколько дней прошло между максимальным и минимальным значением цены акции на закрытии рынка.

2.5 Для каждого тикера подсчитать, максимальную цену акции и определить, в какой день недели чаще всего достигается максимум цены акции.

## 3. Работа со строковыми значениями в Pandas

* Группа функций pandas.Series.str.<Имя функции>
* Например, см.: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.capitalize.html

### Датасеты:
* kings.csv

3.1 Загрузить датасет kings.csv в датафрэйм и добавить в него столбец Name, в котором содержатся имена королей (без порядковых номеров)

In [ ]:
import pandas

In [1]:
a = pd.read_csv(r"C:\Users\175226\Downloads\TOBD20_lec_for_students\TOBD20_lec_for_students\datasets\pandas\kings_v2.csv", sep=';')
a['King'] = a['King'].str.strip()
a['Name'] = a['King'].str.split(' ').str[0]
a

NameError: name 'pd' is not defined

3.2 Для датафрэйма kings загрузить порядоковые нормера королей и отфильторвать строки соответствующие королям с номерами "I".

3.3 Для датафрэйма kings, для столбца King получить значения максимума и минимума для чисел, являющихся последним токеном в строке.

3.4* Для датафрэйма kings, для столбца King с помощью регулярного выражения извелечь значения начала и конца правления королей, записанные в формате (год-год).

## 4. Работа с пропущенными значениями

### Датасеты:
* titanic.csv

4.1 Подсчитать количество пропущенных значений для всех столбцов датасета titanic.csv

4.2 Удалить из датафрейма полученного из titanic.csv все строки, в которых есть хотя бы один пропуск.

4.3 Удалить из датафрейма полученного из titanic.csv все строки, в которых есть два и более пропуска.

4.4 В датафрейме, полученном из titanic.csv, заменить все пропущенные числовые значения на значения равне среднему от аналогичного значения в предыдущей и последующей строках.

4.5 В датафрейме, полученном из titanic.csv, заменить все пропущенные числовые значения возраста на значения равне среднему значению для представителей этого пола (не выполнять операцию, если неизвестен и пол и возраст).

## 5.Сводные таблицы в Pandas
* см.: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

### Датасеты:
* titanic.csv

5.1 С помощью сводных таблиц определить какая доля выживших в разных классах для мужчин и женщин была на Титанике (датасет titanic.csv)

5.2 С использованием сводных таблиц подсчитать количество мужчин и женщин плывших в разных классов на Титанике (датасет titanic.csv)

5.3 С использованием сводных таблиц определить какая доля выживших была на Титанике для мужчин и женщин, разных классов и разных категорий возрастов (Категории возрастов: (0, 10), (10, 30), (30, 60), (60, 80)) (датасет titanic.csv)

## 6.Объединение наборов данных

### Датасеты:
* sp_data2.csv
* sp500hst.txt
* us-state-population
* us-state-shortcode
* e-commerce/*
* avocado_v1

6.1 Добавить столбец с расшифровкой названия тикера используя данные из файла sp_data2.csv . В случае нехватки данных об именах тикеров корректно обработать их.

6.2 Вывести тикеры, для которых не были найдены рсшифровки.

6.3 Отранжировать штаты по численности населения меньше 18 лет в 1990 году. В качестве индекса таблицы использовать название штата

6.4 Объединить данные о торговле из /e-commerce в один датафрейм, добавив столбец 'Country', в котором указано название страны

6.5

6.5.1. Загрузить датасет avocado.

6.5.2. Преобразовать столбец Date в формате datetime

6.5.3. При помощи метода join создать новый датафрейм, в котором столбцами являются скользящие средние цен за 10 дней, а индексом - даты

6.5.4. Изобразить на одной фигуре графики полученных временных рядом

## 7. GroupBy

In [ ]:
### Датасеты:
* sp_data2.csv
* sp500hst.txt
* us-state-population
* us-state-shortcode
* e-commerce/*
* avocado_v1

7.1 Рассчитать суммарный объем торгов (столбец 7) для для одинаковых значений (тикеров) из столбца 2

7.2 Для каждого тикера подсчитать, сколько раз он встречается.

7.3 Расчитать среднее значение показателей для каждого из столбцов 3-6 для одинаковых значений (тикеров) из столбца 2 и сохранить в новом DataFrame

7.4 Добавить в DataFrame новый столбец, содержащий объем торгов (столбец 7), нормированный по среднему значению объема торгов для данного тикера.

7.5 Для каждой из стран в датафрейме, полученном в 6.4 найти 3 самых дорогих проданных товара

7.6 Разбить датафрейм, полученный в 6.4, на 4 файла, в зависимости от принадлежности значения столбца 'UnitPrice' интервалам:

1) $ UnitPrice \in (q_0, q_1] $

2) $ UnitPrice \in (q_1, q_2] $

3) $ UnitPrice \in (q_2, q_3] $

4) $ UnitPrice \in (q_3, q_4] $

7.7 Создать новый столбец UnitPriceWithMean, значения которого совпадают с UnitPrice, если UnitPrice >= 2 и равны среднему значению цен товаров, больших двух, в этой стране, в противном случае

7.8 Для каждого описания товара найти список стран, в которых этот товар был продан. Описание товара считаем корректным, если в нем все символы строки, поддерживающие приведение к регистру, приведены к верхнем