In [3]:
import pyspark.pandas as ps
# from pyspark.sql import SparkSession

# spark = SparkSession.builder.appName("AppName").getOrCreate()

In [6]:
df = ps.read_csv('data/cars.csv')
df.head()

d:\Home\Manual-Book\venv\lib\site-packages\pyspark\pandas\utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

  manufacturer_name model_name transmission   color  odometer_value  year_produced engine_fuel  engine_has_gas engine_type  engine_capacity  body_type  has_warranty  state drivetrain  price_usd  is_exchangeable  location_region  number_of_photos  up_counter  feature_0  feature_1  feature_2  feature_3  feature_4  feature_5  feature_6  feature_7  feature_8  feature_9  duration_listed
0            Subaru    Outback    automatic  silver          190000           2010    gasoline           False    gasoline              2.5  universal         False  owned        all   10900.00            False     Минская обл.                 9          13      False       True       True       True      False       True      False       True       True       True               16
1            Subaru    Outback    automatic    blue          290000           2002    gasoline           False    gasoline              3.0  universal         False  owned        all    5000.00             True     Минская обл.                12          54      False       True      False      False       True       True      False      False      False       True               83
2            Subaru   Forester    automatic     red          402000           2001    gasoline           False    gasoline              2.5        suv         False  owned        all    2800.00             True     Минская обл.                 4          72      False       True      False      False      False      False      False      False       True       True              151
3            Subaru    Impreza   mechanical    blue           10000           1999    gasoline           False    gasoline              3.0      sedan         False  owned        all    9999.00             True     Минская обл.                 9          42       True      False      False      False      False      False      False      False      False      False               86
4            Subaru     Legacy    automatic   black          280000           2001    gasoline           False    gasoline              2.5  universal         False  owned        all    2134.11             True  Гомельская обл.                14           7      False       True      False       True       True      False      False      False      False       True                7

In [7]:
df.describe()

       odometer_value  year_produced  engine_capacity     price_usd  number_of_photos    up_counter  duration_listed
count    38531.000000   38531.000000     38521.000000  38531.000000      38531.000000  38531.000000     38531.000000
mean    248864.638447    2002.943734         2.055161   6639.971021          9.649062     16.306091        80.577249
std     136072.376530       8.065731         0.671178   6428.152018          6.093217     43.286933       112.826569
min          0.000000    1942.000000         0.200000      1.000000          1.000000      1.000000         0.000000
25%     158000.000000    1998.000000         1.600000   2100.000000          5.000000      2.000000        23.000000
50%     250000.000000    2003.000000         2.000000   4800.000000          8.000000      5.000000        59.000000
75%     325000.000000    2009.000000         2.300000   8963.290000         12.000000     16.000000        91.000000
max    1000000.000000    2019.000000         8.000000  50000.000000         86.000000   1861.000000      2232.000000

In [10]:
ps.sql("SELECT * FROM {df} WHERE year_produced > 2012 limit(2)", df = df)

  manufacturer_name model_name transmission   color  odometer_value  year_produced engine_fuel  engine_has_gas engine_type  engine_capacity body_type  has_warranty  state drivetrain  price_usd  is_exchangeable location_region  number_of_photos  up_counter  feature_0  feature_1  feature_2  feature_3  feature_4  feature_5  feature_6  feature_7  feature_8  feature_9  duration_listed
0            Subaru   Forester    automatic  silver          179000           2014    gasoline           False    gasoline              2.0       suv         False  owned        all    12700.0            False    Минская обл.                14          14      False      False       True       True      False       True       True       True       True       True               16
1            Subaru   Forester    automatic   black          159000           2013    gasoline           False    gasoline              2.0       suv         False  owned        all    16500.0            False    Минская обл.                 6          34      False       True       True      False       True       True      False       True       True       True               59

In [12]:
df[df['engine_fuel'] == "gasoline"].head()

  manufacturer_name model_name transmission   color  odometer_value  year_produced engine_fuel  engine_has_gas engine_type  engine_capacity  body_type  has_warranty  state drivetrain  price_usd  is_exchangeable  location_region  number_of_photos  up_counter  feature_0  feature_1  feature_2  feature_3  feature_4  feature_5  feature_6  feature_7  feature_8  feature_9  duration_listed
0            Subaru    Outback    automatic  silver          190000           2010    gasoline           False    gasoline              2.5  universal         False  owned        all   10900.00            False     Минская обл.                 9          13      False       True       True       True      False       True      False       True       True       True               16
1            Subaru    Outback    automatic    blue          290000           2002    gasoline           False    gasoline              3.0  universal         False  owned        all    5000.00             True     Минская обл.                12          54      False       True      False      False       True       True      False      False      False       True               83
2            Subaru   Forester    automatic     red          402000           2001    gasoline           False    gasoline              2.5        suv         False  owned        all    2800.00             True     Минская обл.                 4          72      False       True      False      False      False      False      False      False       True       True              151
3            Subaru    Impreza   mechanical    blue           10000           1999    gasoline           False    gasoline              3.0      sedan         False  owned        all    9999.00             True     Минская обл.                 9          42       True      False      False      False      False      False      False      False      False      False               86
4            Subaru     Legacy    automatic   black          280000           2001    gasoline           False    gasoline              2.5  universal         False  owned        all    2134.11             True  Гомельская обл.                14           7      False       True      False       True       True      False      False      False      False       True                7

# Тут реализованы большинство функций pandas
Далее смотрите отличия, фичи и туториал по pandas